@import "../../../../styles";

.mat-toolbar {
  background-color: $neutral;
  color: $fontColor;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.left {
  margin-left: 15px;
}

.right {
//TODO: Justify-content flex-end?
}
