<mat-toolbar>
  <span>Shockr</span>

  <div class="left">
    <button mat-button [matMenuTriggerFor]="overview">Overview</button>
    <mat-menu #overview="matMenu">
      <button mat-menu-item routerLink="overview/products">Products</button>
      <button mat-menu-item routerLink="overview/products/lps">Lps</button>
      <button mat-menu-item routerLink="overview/products/games">Games</button>
      <button mat-menu-item routerLink="overview/products/books">Books</button>
      <button mat-menu-item routerLink="overview/products/books/fiction">Fiction</button>
      <button mat-menu-item routerLink="overview/products/books/non-fiction">Non-fiction</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="addProduct">Add Products</button>
    <mat-menu #addProduct="matMenu">
      <button mat-menu-item routerLink="create/products/lp">Add Lp</button>
      <button mat-menu-item routerLink="create/products/game">Add Game</button>
      <button mat-menu-item routerLink="create/products/fiction">Add Fiction</button>
      <button mat-menu-item routerLink="create/products/non-fiction">Add Non-fiction</button>
    </mat-menu>
  </div>

  <div class="right">
    <button *ngIf="user" mat-button>Shopping Cart</button>

    <button *ngIf="user" mat-button [matMenuTriggerFor]="currentUser">{{user.username}}</button>
    <mat-menu #currentUser="matMenu">
      <button mat-menu-item>Favorites</button>
      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>

    <button *ngIf="!user" mat-button routerLink="/login">Log In/ Register</button>
  </div>
</mat-toolbar>
