<div class="form-control" [formGroup]="form">
  <div [ngSwitch]="control.controlType">
    <div *ngSwitchCase="'price'">
      <mat-form-field>
        <mat-label>{{control.label}}</mat-label>
        <input matInput [placeholder]="control.placeholder"
               [formControlName]="control.key"
               [id]="control.key"
               [type]="control.type"
               [required]="control.required"/>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'string'">
      <mat-form-field>
        <mat-label>{{control.label}}</mat-label>
        <input matInput [placeholder]="control.placeholder"
               [formControlName]="control.key"
               [id]="control.key"
               [type]="control.type"
               [required]="control.required"/>
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'dropdown'">
      <mat-form-field>
        <mat-label>{{control.label}}</mat-label>
        <mat-select [formControlName]="control.key" [id]="control.key" [required]="control.required">
          <mat-option *ngFor="let opt of control.options" [value]="opt.value">
            {{opt.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="errorMessage" *ngIf="!isValid && (control.key.dirty || control.key.touched)">
    {{control.label}} is required
  </div>

</div>
